.rules-list {
    margin: 1.5rem 0;
    list-style: none;
}

.rules-list li {
    padding: 0.7rem 0;
    position: relative;
    padding-left: 2rem;
}

.rules-list li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: var(--green);
}