.screens {
    position: relative;
}

.screen {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.screen--home {
    background-color: var(--yellow);
    position: relative;
    overflow: hidden;
}

.screen--about {
    background-color: var(--light);
}

.screen--guests {
    background-color: #fff5f5;
}

.screen--skills {
    background-color: var(--green);
}

.screen--schedule {
    padding-bottom: 0;
}